<%= render "shared/user_box", :name => @shown_user.name, :post_num => @shown_user.postsCounter, :photo => @shown_user.photo %>
<p class="border p-2 bg-dark"> <%= @shown_user.bio %> </p>
<% @recent_posts.each do |post|%>
  <%= link_to (user_post_path(@shown_user, post)) do %>
  <%= render "shared/post_box", :title => post.title, :text => post.text, :comments_count => post.commentsCounter, :likes_count => post.likesCounter%>
  <% end %>
<% end %>
<a href="/users/<%= @shown_user.id %>/posts" class="btn btn-secondary">See all posts</a>
<%= button_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>