<%= render "shared/user_box", :name => @user.name, :post_num => @user.postsCounter, :photo => @user.photo %>
<% @posts_with_comments.each do |post_and_comments| %>
  <% post = post_and_comments[:post]%>
  <%= link_to (user_post_path(@user, post)) do %>
  <%= render "shared/post_box", :title => post.title, :text => post.text, :comments_count => post.commentsCounter, :likes_count => post.likesCounter %>
  <% end %> 
  <% post_and_comments[:comments].each do |comment| %>
  <div class="border p-2 bg-dark comment-box">
  <p><%= comment.author.name %>: <%= comment.text %></p>
  </div>
  <% end %>
<% end %>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>