<div class="border p-2 mt-3 bg-dark"> 
  <h2><%= @post.title %> by <%= @post.author.name %></h2>
  <p class="text-end">Comments: <%= @post.commentsCounter ? @post.commentsCounter : "0" %> Likes:<%= @post.likesCounter ? @post.likesCounter : "0" %></p>
  <p><%= @post.text  %></p>
  <div class="d-flex">
    <%= button_to 'Like', like_path(user_id: @user.id, post_id: @post.id), method: "put", class: 'btn btn-primary' %>
    <% if can? :destroy, @post %>
    <%= button_to 'Delete', user_post_path(user_id: @user.id, post_id: @post.id), method: "delete", class: 'btn btn-danger' %>
    <% end %>
  </div>
</div> 
<% @comments.includes(:author).each do |comment| %>
  <div class="border p-2 bg-dark">
  <p><%= comment.author.name %>: <%= comment.text %></p>
  </div>
<% end %>

<%= render 'shared/new_comment', user: @user, post: @post  %>